* {
    background-color: yellow;
}

h1 {
    color: green;
}

.pontosTuristicos {
    border: 2px solid;
    border-color: black;
    width: 300px;
    margin-left: 500px;
}

.textoPontosTuristicos {
    margin-bottom: 10px;
}

ul, li {
    background-color: blue;
}