table, th, td {
    color: chocolate;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 300px;
    margin:auto;
    border: 2px solid chocolate;
    text-align: center;
}

/*colorindo uma linha e pulando outra*/
tr:nth-child(even) {
    background-color: aquamarine;
}

/*colorindo uma coluna e pulando outra*/
/*td:nth-child(even) {
    background-color: aquamarine;
}*/

/* para colorir as linhas impares 
tr:nth-child(odd) {
}
