body {
    background-color: rgb(243, 243, 243);
    font-family: Arial;
}

/* ESTILIZAÇÃO CABEÇALHO */
header {
    background-color: #b6e2e3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
}

.botao-menu, .botao-entrar {
    background-color: #b6e2e3;
    text-align: center;
    border: 0px;
}

.link-menu, .link-entrar {
    background-color: #b6e2e3;
    text-decoration: none;
    border: none; 
    color: #034f52;
    font-weight: bold
}

.botoes-menu {
    display: flex;
    gap: 25px; 
    background-color: #b6e2e3;
}

.botao-menu:hover, .botao-entrar:hover, .link-entrar:hover, .link-menu:hover {
    background-color: #95d3d4;
}

/* ESTILIZAÇÃO RODAPÉ */
footer {
    background-color: #b6e2e3;
    display: flex;
    align-items: center;
}

.nomes-desenvolvedoras {
    margin-left: 600px;
    background-color: #b6e2e3;
    color: #034f52;
}

.botao-contato {
    background-color: #b6e2e3;
    text-align: center;
    border: 0px;
}

.link-contato {
    background-color: #b6e2e3;
    text-decoration: none;
    border: none; 
    color: #034f52;
    font-weight: bold
}

.botoes-contato {
    display: flex;
    margin-left: 50px;
    gap: 15px; 
    background-color: #b6e2e3;
}

.botao-contato:hover, .link-contato:hover {
    background-color: #95d3d4;
}

/* ESTILIZAÇÃO CARD */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    border: 2px solid white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #00a2a5;
    margin-bottom: 40px;
    text-align: center;
    padding-bottom: 10px;
}

.botao-ver-mais{
    background-color: #00a2a5;
    border: none; 
}

.link-roupa {
    background-color: #00a2a5;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: larger;
}

.valor-produto {
    text-align: center;
    background-color: #00a2a5;
    color: white;
}

.imagem-produto {
    max-width: 300px;
    max-height: 400px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.lista-produtos {
    display: flex;
    margin-top: 50px;
}

.link-roupa:hover {
    color: #b6e2e3;
}